
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* Definindo a variável */
:root{
    --corPrincipal: rgb(110, 108, 108);
    --cor1: #F554DE;
    --cor2: #E17AF5;
    --cor3:#F8BAF5;
    --cor4:#D942F5;
    --cor5:#000000ba;
}
body{
    font-family: "itim", sans-serif;
    font-style: normal;
    background: linear-gradient(135deg, rgb(104, 103, 103),rgba(0, 0, 0, 0.801));
    color:#fff;
    height: 100vh;
    overflow-x: hidden;
}
/*Menu*/
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--cor2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px var(--cor5);
    
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    font-size: 200%;
    color: #fff;
    text-transform: uppercase;
    animation:  2s infinite alternate;
}

.logo img{
    border-radius: 30%;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0 0 20px var(--cor1), 0 0 40px var(--cor5);
}

.menu nav ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
.menu nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: rgba(0, 0, 0, 0.825) 0.3s ease, transform 0.3s ease;
}
.menu nav ul li a:hover{
    color: #000000c8;
    transform: scale(1.1);
}
/*Profile*/
.profile-section{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 2rem 2rem 2rem;
}
.profile{
    max-width: 50%;
}
.profile h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ca5fda;
}
.profile p{
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

button{
    background:#f4f0f4;
    font-size: 1rem;

    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
button a{
    text-decoration: none;
    color:  #D942F5;
    font-weight: bold;
}
button:hover{
    transform: scale(1.1);
    background: #000;
}
.profile-img{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.854), 0 0 40px gray;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
/*Animaçao*/
@keyframes glow{
    0%{
        box-shadow: 0 0 30px white, 0 0 40px gray,0 0 50px black;
    }
    100%{
        text-shadow: 0 0 10px var(--cor4),
                     0 0 20px var(--cor3);
    }
}
@keyframes glow-border{
    0%{
        box-shadow: 0 0 10px var(--cor1),
                    0 0 20px var(--cor2);
    }
    100%{
        box-shadow: 0 0 20px var(--cor4),
                    0 0 40px var(--cor1);

    }
}


